# SPDX-FileCopyrightText: The RamenDR authors
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=visitor service
After=cloud-final.service

[Service]
Type=notify
Restart=always
User=visitor
StateDirectory=visitor
WorkingDirectory=/var/lib//visitor
ExecStart=/usr/bin/visitor

[Install]
WantedBy=multi-user.target
